/* Yuhuuu */
html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background-color: #FBF7F0;
}

h1 {
  font-size: 2rem;
}

.container {
  width: 1000px;
  margin: auto;
  padding: 3rem 1rem 1rem 1rem;
  background-color: white;
}
nav {
  background-color: OrangeRed;
  color: White;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
}
